// Components
@import
	"../components/scss/reset.scss",
	"../components/scss/vars.scss",
	"../components/scss/mixin.scss",
	"../components/scss/media.scss",
	"../components/scss/ui.scss",
	"../components/scss/text-container.scss"
;

// Blocks
@import
	"../blocks/header/template.scss",
	"../blocks/footer/template.scss"
	;
