/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-phone-call {
  background-image: url(../img/sprite.png);
  background-position: -61px 0px;
  width: 22px;
  height: 22px;
}
.icon-route {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 56px;
  height: 56px;
}

@media (-webkit-min-device-pixel-ratio: 2),
       (min-resolution: 192dpi) {
  .icon-phone-call {
    background-image: url(../img/sprite-2x.png);
    background-size: 83px 56px;
  }
  .icon-route {
    background-image: url(../img/sprite-2x.png);
    background-size: 83px 56px;
  }
}
