header.header 
	.container 
		.header-left
			a.logo(href="index.html") 
				img.logo__img(src=img+"header/logo.png", alt="")
		.header-middle
			.header-middle-line.header-middle-line_top
				form.search(action="#")
					input.search__field(type="search", name="header-search" placeholder="Поиск по сайту")
					button.search__submit(type="submit")
						+icon('loupe')
				ul.header-topnav 
					li.header-topnav-item 
						a.header-topnav__link(href="#") фотогалерея
					li.header-topnav-item 
						a.header-topnav__link(href="#") Оплата
					li.header-topnav-item 
						a.header-topnav__link(href="#") Информация
					li.header-topnav-item 
						a.header-topnav__link(href="#") Акции
					li.header-topnav-item 
						a.header-topnav__link(href="#") Отзывы
					li.header-topnav-item 
						a.header-topnav__link(href="#") Контакты
			.header-middle-line.header-middle-line_bottom
				ul.header-bottomnav 
					li.header-bottomnav-item 
						a.header-bottomnav__link(href="#") Ремонт балконов
					li.header-bottomnav-item 
						a.header-bottomnav__link(href="#") Остекление
					li.header-bottomnav-item 
						a.header-bottomnav__link(href="#") Отделка
					li.header-bottomnav-item 
						a.header-bottomnav__link(href="#") Утепление
					li.header-bottomnav-item 
						a.header-bottomnav__link(href="#") Окна
					li.header-bottomnav-item 
						a.header-bottomnav__link(href="#") Цены
		.header-right
			.header-right-line
				ul.social
					li.social-item
						a.social__link.wp(href="#")
							+icon('whatsapp')
					li.social-item
						a.social__link.tg(href="#") 
							+icon('telegram')
				.choose-city
					.choose-city__current Москва и МО
					ul.choose-city-list
						li.choose-city-list-item
							a.choose-city-list__link(href="") Коломна
						li.choose-city-list-item
							a.choose-city-list__link(href="") Балашиха
			.header-right-inner 
				ul.tels
					li.tels-item
						a.tels__link(href="tel:+74995213669") 
							+icon('phone-call')
							span +7 (499) <b>521-36-69</b>
				ul.links
					li.links-item
						a.links__link(href="#") Заказать звонок