.header {
	box-shadow: $header-shadow;
	position: relative;
	z-index: 10;
	background: #fff;
	@include max-screen(1200px) {
		padding: 5px 0;
	}

	&-left {
		width: 8%;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		background: #fff;
		box-shadow: $header-shadow;
		margin-bottom: -20px;
		@include max-screen(1200px) {
			margin: 0;
			width: 50px;
			box-shadow: none;
		}
		@include max-screen(599px) {
			width: 40px;
		}
	}
	&-middle {
		width: 75%;
		@include max-screen(1200px) {
			display: none;
		}
		&-line {
			padding: 20px 60px;
			@include max-screen(1600px) {
				padding: 10px 30px;
			}
			@include max-screen(1200px) {
				padding: 10px;
			}
			&_top {
				display: flex;
				align-items: center;
				flex-wrap: wrap;
			}
			&_bottom {
				@include max-screen(1200px) {
					display: none;
				}
			}
		}
	}
	&-right {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		padding: 20px 0;
		margin-left: auto;
		width: 17%;
		@include max-screen(1600px) {
			padding: 10px 0;
		}
		@include max-screen(1200px) {
			width: calc(100% - 50px);
			flex-direction: row;
			justify-content: flex-end;
			padding: 0;
		}
		&-line {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			margin-bottom: 12px;
			@include max-screen(599px) {
				flex-direction: column;
				align-items: flex-end;
				margin: 0;
			}
		}
		&-inner {
			text-align: right;
			@include max-screen(1200px) {
				margin-left: 15px;
			}
		}
	}
	&-topnav {
		display: flex;
		align-items: center;
		margin-left: 60px;
		@include max-screen(1600px) {
			margin-left: 30px;
		}
		&-item {
			&:not(:last-child) {
				margin-right: 44px;
				@include max-screen(1600px) {
					margin-right: 24px;
				}
			}
		}
		&__link {
			color: $title;
			text-transform: uppercase;
			font-weight: 700;
			text-decoration: none;
			position: relative;
			&:hover {
				color: $orange;
				&:after {
					content: '';
					display: block;
					width: 6px;
					height: 6px;
					border-radius: 50%;
					background: $orange;
					position: absolute;
					left: 50%;
					bottom: -10px;
					transform: translate(-50%, 0);
				}
			}
		}
	}
	&-bottomnav {
		display: flex;
		align-items: center;
		&-item {
			&:not(:last-child) {
				margin-right: 38px;
				@include max-screen(1600px) {
					margin-right: 28px;
				}
			}
		}
		&__link {
			color: $title;
			text-transform: uppercase;
			font-weight: 700;
			text-decoration: none;
			font-size: 18px;
			position: relative;
			&:hover {
				&:after {
					content: '';
					display: block;
					left: -20px;
					right: -20px;
					top: -20px;
					z-index: -1;
					bottom: -17px;
					position: absolute;
					background: $shapeBg;
					border-radius: 25px 25px 0 0;
				}
			}
			@include max-screen(1600px) {
				font-size: 16px;
			}
		}
	}

	.icon {
		display: block;
		fill: #fff;

		&-whatsapp {
			width: 16px;
			@include max-screen(599px) {
				width: 12px;
			}
		}
		&-telegram {
			width: 14px;
			@include max-screen(599px) {
				width: 12px;
			}
		}
		&-loupe {
			width: 18px;
			fill: $border;
		}
		&-phone-call {
			width: 22px;
			fill: $orange;
			@include max-screen(1600px) {
				width: 18px;
			}
		}
	}
	
	.container {
		display: flex;
		flex-wrap: wrap;
	}
	.logo {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		&__img {
			display: block;
			width: calc(100% - 56px);
			&:hover {
				opacity: .5;
			}
			@include max-screen(1200px) {
				width: 100%;
			}
		}
	}
	.social {
		display: flex;
		flex-wrap: wrap;
		margin-right: 20px;
		@include max-screen(400px) {
			margin-right: 10px;
		}
		&-item {
			&:not(:last-child) {
				margin-right: 7px;
			}
		}
		&__link {
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 28px;
			width: 28px;
			height: 28px;
			@include max-screen(599px) {
				width: 20px;
				height: 20px;
			}
			&.wp {
				background: $green;
			}
			&.tg {
				background: $blue;
			}
		}
	}
	.choose-city {
		margin-right: 17px;
		@include max-screen(400px) {
			margin-right: 10px;
		}
		&__current {
			color: $border;
			font-size: 15px;
			line-height: 1.4;
			position: relative;
			cursor: pointer;
			@include max-screen(400px) {
				font-size: 12px;
			}
			&:before {
				@include triangle(down, 7px, $border);
				position: absolute;
				right: -15px;
				top: 50%;
				transform: translate(0, -50%);
			}
			&::after {
				content: '';
				display: block;
				width: 100%;
				height: 1px;
				background: $border;
			}
		}
		&-list {
			display: none;
		}
	}
	.search {
		position: relative;
		width: 318px;
		@include max-screen(1600px) {
			width: 218px;
		}
		@include max-screen(1200px) {
			width: 100%;
		}
		&__field {
			width: 100%;
			height: 37px;
			border-radius: 30px;
			border: 1px solid $border;
			padding: 0 44px;
			line-height: 37px;
			font-size: 15px;
			&::placeholder {
				color: $placeholderGray;
				line-height: 37px;
				font-size: 15px;
			}
			&:focus {
				border-color: $orange;
			}
		}
		&__submit {
			position: absolute;
			width: 37px;
			height: 37px;
			left: 0;
			top: 0;
			z-index: 1;
			border-radius: 100%;
			cursor: pointer;
			display: flex;
			align-items: center;
			justify-content: center;
			&:hover {
				.icon {
					fill: $orange;
				}
			}
		}
	}
	.tels {
		&__link {
			display: flex;
			align-items: center;
			font-size: 24px;
			line-height: 1.2;
			text-decoration: none;
			color: $title;
			&:hover {
				color: $orange;
			}
			@include max-screen(1600px) {
				font-size: 20px;
			}
			@include max-screen(599px) {
				font-size: 15px;
			}
			
			.icon {
				margin-right: 12px;
				@include max-screen(599px) {
					display: none;
				}
			}
		}
	}
	.links {
		&__link {
			font-size: 18px;
			line-height: 1.2;
			text-decoration: none;
			color: $orange;
			&:hover {
				color: $title;
			}
			@include max-screen(1600px) {
				font-size: 16px;
			}
		}
	}
}
