body {
	background: #fff;
	overflow-x: hidden;
	// @include scroll(10px, null, $lightGray2, $lightGray, null, null);
}

.page {
	width: 100%;
	font: 400 14px/1 $main-font;
	position: relative;
	max-width: 1920px;
	margin: 0 auto;
	overflow: hidden;
	&-container {
		width: 100%;
	}
}

.container {
	max-width: $container-pc;
	width: 100%;
	margin: 0 auto;
	@include max-screen(1600px) {
		max-width: $container-mb;
	}
	@include max-screen(1200px) {
		padding: 0 15px;
	}
}

.swiper-container {
	margin: 0;
}

// стили для работы кастомных табов
.tabs {
	&-tab {
		display: none;

		&.active {
			display: block;
		}
	}
}
