// url
$img: '../img/';

// colors


// fonts
$main-font: 'UniNeue', 'Arial', 'Helvetica', sans-serif;
$second-font: 'UniNeueBook', 'Arial', 'Helvetica', sans-serif;

// shadows
$header-shadow: 0px 4px 15px rgba(129, 151, 231, 0.15);

// gradients
$btn-gradient: linear-gradient(269.17deg, #F9B44D 3.28%, #FF5A00 99.29%);

// sizes
$container-pc: 1580px;
$container-mb: 1200px;
