// url
$img: '../img/';

// colors


// fonts
$main-font: 'UniNeue', 'Arial', 'Helvetica', sans-serif;
$second-font: 'UniNeueBook', 'Arial', 'Helvetica', sans-serif;

// shadows

// gradients

// sizes
$container-pc: 1580px;
$container-mb: 1200px;

// another vars