include components/pug/vars.pug
include components/pug/mixin.pug
include sections.pug

doctype
html
	head
		block head
			include components/pug/meta.pug
			include components/pug/links.pug

			block head-inner
	body
		block body
			block header
				//- include blocks/header/header.pug

			main.main#main
				block main

			block footer
				//- include blocks/footer/footer.pug

		block foot
			include components/pug/scripts.pug